body {
	font-family: Myriad Pro, sans-serfif;
	font-size: 24pt;
}
header {
	text-align: center;
}
#calculator {
	background-color: #ebebeb;
	color: #565656;
	height: 626px;
	width: 418px;
	margin-left: auto;
	margin-right: auto;
}
.mainstring td {
	height: 100px;
	background-color: #f5f5f5;
}
.buttonstring td {
	height: 100px;
	width: 100px;
	background-color: #ffcba9;
	text-align: center;
}
.buttonstring td:hover {
	background-color: #ffa060;
	color: white;
}